@charset "UTF-8";
/* CSS Document */

body{
	background-color: #F2D4D7;
	margin: 0;
	padding:0;
	font-family: Helvetica, Arial;
	font-size: 15px; 
}
/*Navigation - jeg har har en den problemer med at få min menu til at lægge sig rigtig - den sidste dropdown lægger sig konskvent udenfor browseren - problemet er løst ved give div .nav en width og noget padding*/

nav{
	height: 150px;
}
#logo{
	height: 100px;
	width: 100px;
	padding: 10px;
}
.nav{
	float:right;
	width:500px; 
	padding: 10px;

}
#projekt{
	padding: 50px;
	
}
#lering{
	padding: 50px;
}
#ommig{
	padding: 50px;
}
/* kode hjælp fra W3school - drop down menu*/
.dropdown {
	float:left;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#F2D4D7 ;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    /*padding: 12px 16px;*/
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-content a{
	display: block;
	text-decoration: none;
	padding: 10px;
	color:#000000; 
}

main{
	min-height: calc(100vh - 200px - 150px);
	padding-bottom: 100px;
	overflow-y: hidden;
}

footer{
	height: 200px;
	background-color: white;
	width: 100%;
	box-sizing: border-box;
		
}
.footercontent{
	box-sizing: border-box;
	height: 200px;
	color: #000000;
    text-align: center;
	padding: 75px;
	
}
.footercontent a{
	height: 60px;
	width: 60px;
	color:#000000;
	border: thin solid black;
	border-radius: 100%;
	display: inline-block; 
	text-align: center; 
	/*margin-top: 50px;
	margin-bottom: 50px; Footerne bliver meget mærkerlig når det her er på.*/
	padding: 10px;
	
}
.footercontent a i{
	font-size: 40px;
	padding: 10px;
}
/* Forside styling */
 
#homeimg{
	width: 1200px;
	margin: auto;
	padding-left:250px;
	padding-bottom:50px;
}
/* Om mig */
#containermig{
	width: 80%;
	margin: auto;
	padding-left: 75px;
	padding-bottom: 100px;
	position: relative;
	}
#imgmig{
	float: left;
}
#omig{
	float: right;
	width: 40%;
	text-align: justify;
	box-sizing: border-box;
}

/*CV side */
#cvcontent{
	width: 80%;
	padding-left: 100px; 
	margin: auto;
}
#cv{
	padding-left: 100px;
	padding-bottom: 100px;
  	display: inline-block;
  	text-align: justify;
}
#selpor{
  	display: inline-block;
  	text-align: justify;
	float: left;
}
#selpor i{
	line-height: 200%; 
	font-size: 20px;
}
/*Projekt sider
Projekt flow - 1*/
#pf1{width: 80%;
	margin: auto;
	padding-left: 250px;
	padding-bottom: 100px;
	}
	
	#pf1 a{
	text-decoration: none;
	color: navy;
}
.pf1content{
	width: 80%;
}
/*Projekt flow - 2*/
.pimg{
	border:10px solid black;
}
/*Lærings sider*/

.ler1og2{
	width: 80%;
	margin: auto;
	padding-left: 250px;
	padding-bottom: 100px;
}
.ler1og2 article{
	width: 80%;
}
.ler1og2 a{
	text-decoration: none;
	color: navy;
}
/* kontakt side - hjælp fra w3schools*/

/* styling på inputs og textarea */
input[type=text], textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
}
input[type=email]{
	width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
}

/* styling knap  */
input[type=submit] {
    background-color: #F2D4D7;
    color: black;
    padding: 12px 20px;
    border: 1px thin #FFD0D1;
    border-radius: 4px;
    cursor: pointer;
}

/* hover knap */
input[type=submit]:hover {
    background-color: #FFD0D1;
}

/* styling af container div */
.container {
    border-radius: 5px;
    background-color: #F2D4D7;
    padding: 20px;
	width: 80%;
	margin: auto;
}